@import 'tailwindcss';


.postBody {
    @apply text-gray-700 dark:text-gray-200;

}


.postLikesAndViews {
    @apply text-gray-500 text-sm font-semibold dark:text-gray-200;
}

.loadMoreButton {
    @apply dark:text-gray-600 dark:bg-gray-200;
}

.spanTag {
    @apply bg-gray-100 text-gray-800 text-sm font-semibold mr-4 px-4 py-2 rounded-xl;
}

.imgPost {
    @apply aspect-[7/4] h-42 object-cover ml-auto rounded-lg;
}